#RenderFormOutputObject {
  width: 100%;
  margin-top: 20px;
}

#RenderFormOutputObject #output_container {
  width: 100%;
  background-color: #282828;
  text-align: left;
}

#RenderFormOutputObject #buttons_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#RenderFormOutputObject #copy_output_text_clickable {
  color: grey;
  margin: 10px 0px;
  cursor: pointer;
}

#RenderFormOutputObject #copy_output_text_clickable:hover {
  color: white;
}


#RenderFormOutputObject .text {
  margin: 2px;
  color: white;
  font-size: 1.1em;
}

#RenderFormOutputObject .text_banned {
  margin: 2px;
  color: grey;
  font-size: 1.1em;
}

#RenderFormOutputObject .text_clickable {
  font-size: 1.1em;
}

#RenderFormOutputObject .text_clickable:hover {
  color: #f7ba02;
  cursor: pointer;
  font-size: 1.1em;
}

#RenderFormOutputObject .text_clickable_selected {
  background-color: #f7ba02;
  color: #282828;
  font-size: 1.1em;
}
